.cardContainer {
  display: grid;
  grid-template-columns: 0.8fr 11.5fr;
  align-items: center;
  gap: 10px;
  color: black;
  padding: 10px;
  margin-bottom: 2px;
}

.childContainer {
  display: flex;
  justify-content: space-between;
}

.icon {
  background-color: lightgray;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.titleDate {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.amountDeleteEdit {
  display: flex;
  gap: 20px;
  align-items: center;
}
.deleteEdit {
  display: flex;
  gap: 10px;
  align-items: center;
}
.button {
  font-size: 25px;
  height: 45px;
  width: 45px;
  border-radius: 15px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media (max-width: 768px) {
  .cardContainer {
    padding: 0px;
  }
  .childContainer {
    flex-direction: column;
    gap: 10px;
  }
  .amountDeleteEdit {
    justify-content: space-between;
    gap: 100px;
  }
}
