.etgrid {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.etcomponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a0a0a0;
  border-radius: 10px;
  height: 160px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .etgrid {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .etcomponent {
    height: 220px;
  }
}
